body {
    width: 325px;
    margin: 2em;
}
hr {
    border: solid .25px  #ededed;
}
#date {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.book {
    float: left;
    margin: 8px 5px 5px 5px;
    height: 100%;
}
.cal {
    margin: 0 5px 0 5px;
}
.div {
    border: solid 5px #FFAF06;
    margin-left: 8px;
    margin-top: -5px;
    width: 35px;
    height: 30px;
}
.event {
    border: 1.2px solid #dbdbdb;
    border-radius: 1em;
    min-height: 80px;
    margin-top: 8px;
}
.logo {
    width: 25px;
    margin-top: 8px;
    margin-right: 8px;
}
.main {
    margin: 10px 10px 0 70px;
    font-size: 14px;
}
.mt-3 {
    margin-top: 6px !important;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.nextDate {
    font-size: 1em;
    margin-top: 0;
    margin-left: 70px;
    color: #858585;
}